.App {
  /* text-align: center; */
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app_wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: green; 
}

.header__logo {
  width: 35px;
  height: 35px;
  margin: 10px 0 0 20px;
}

.nav {
  grid-area: n;
  background-color: rgb(110, 7, 236);
}

.nav ul {
  list-style-type: none;
}

.content {
  grid-area: c;
  background-color:aqua
}

.content img {
  width: 650px;
  height: 250px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


